html,body {
height: 100%;
min-width: 320px;
-webkit-tap-highlight-color: transparent; }



html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption,
footer, header, hgroup, menu, nav, section {
  display: block; }

figure {
  display: inline-block; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
box-sizing: inherit; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }



@media screen and (max-width: 600px) {
  .color-black-mobile {
    color: #000 !important; } }

a {
  color: #0AF; }

a.link {
  transition: opacity 0.2s ease; }

p a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: 500;
  transition: opacity 0.2s ease; }

p a:hover,
a.link:hover {
  opacity: 0.5; }

p a:active {
  opacity: 1; }

body {
  font-family: Lato, Helvetica Neue, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 600; }



p,
h1,
h2,
h3,
h4,
h5,
h6,
ul.list {
  margin-bottom: 20px; }

li h4,
li h5,
li h6 {
  margin-bottom: 0; }

.uppercase {
  letter-spacing: 1px;
  text-transform: uppercase; }

strong {
  font-weight: 500; }

.night h1,
.night h2,
.night h3,
.night h4,
.night h5,
.night h6 {
  color: #FFF; }

.night p:not(.lead) {
  color: #999; }

